<template>
  <a class="base-icon-button" href="">
    <svg v-if="icon === 'man'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 21C3 16.0294 7.02944 12 12 12C16.9706 12 21 16.0294 21 21V22H3V21Z" stroke="#121212" stroke-width="2"/>
      <circle cx="12" cy="7" r="5" stroke="#121212" stroke-width="2"/>
    </svg>
    <svg v-if="icon === 'heart'" width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M22.0118 1.86279C19.4018 -0.620836 15.1537 -0.620836 12.5429 1.86223L12 2.37785L11.4578 1.86246C8.84667 -0.62093 4.59909 -0.620649 1.98802 1.86246C0.705984 3.08187 0 4.69929 0 6.41632C0 8.13391 0.705984 9.75106 1.9882 10.971L11.4203 19.9257C11.5826 20.0801 11.7915 20.1569 12 20.1569C12.2085 20.1569 12.4171 20.0797 12.5797 19.9254L22.0118 10.971C23.2937 9.75134 24 8.13396 24 6.4166C24 4.69929 23.2937 3.08215 22.0118 1.86279ZM20.8514 9.74993L12 18.1536L3.14892 9.75021C2.20434 8.85199 1.68422 7.66798 1.68422 6.4166C1.68422 5.16523 2.20434 3.98121 3.14892 3.08299C4.13419 2.14545 5.42822 1.67698 6.72253 1.67698C8.01713 1.67698 9.31172 2.14601 10.297 3.08356L11.4198 4.14996C11.7448 4.45901 12.2549 4.45901 12.5799 4.14996L13.703 3.08299C15.6738 1.20818 18.8803 1.20818 20.8511 3.08299C21.7954 3.98126 22.3158 5.16523 22.3158 6.4166C22.3158 7.66798 21.7954 8.85171 20.8514 9.74993Z" fill="#121212"/>
    </svg>
    <svg v-if="icon === 'bag'" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.3335 22H21.3335L18.6668 8H6.00016L3.3335 22Z" stroke="#121212" stroke-width="2" stroke-linejoin="round"/>
      <path d="M9.3335 11.3333V5C9.3335 3.34314 10.6766 2 12.3335 2V2C13.9904 2 15.3335 3.34315 15.3335 5V10.9877" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </a>
</template>

<script>
  export default {
    name: "BaseIconButton",
    props: {
      icon: String,
    }
  }
</script>

<style lang="scss" scoped>
  .base-icon-button {
    display: block;
    padding: 12px;
    &:last-of-type {
      padding-right: 0;
    }
  }
</style>
