<template>
  <ul class="navigation-list">
    <li class="navigation-list__item" v-for="link in links" :key="links.findIndex(item => item.text == link.text)">
      <base-nav-link :to="link.to">{{link.text}}</base-nav-link>
    </li>
  </ul>
</template>

<script>
  import BaseNavLink from "./BaseNavLink.vue";
  export default {
    name: "BaseNavigation",
    components: {
      BaseNavLink,
    },
    props: {
      links: Array,
    }
  }
</script>

<style lang="scss" scoped>
  .navigation-list {
    display: flex;
    margin-bottom: 0;

    &__item {
      padding: 0 25px;
    }
    &__item:last-of-type {
      padding-right: 0;
    }
  }
</style>
