<template>
  <nuxt-link
    :to="to"
    class="nav-link"
    active-class="nav-link_active"
    exact>
    <slot></slot>
  </nuxt-link>
</template>

<script>
  export default {
    name: "BaseLink",
    props: {
      to: String,
    },
  }
</script>

<style lang="scss" scoped>
  .nav-link {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7C818D;
    padding: 0;
    transition-duration: 0.2s;
    text-transform: uppercase;

    &:hover {
      color: #121212;
    }

    &_active {
      font-weight: bold;
      color: #121212;
    }
  }

  .footer .nav-link {
    &:hover {
      color: #fff;
    }
    &_active {
      color: #ffffff;
    }
  }
</style>
