<template>
  <div class="thing-card">
    <div class="thing-card__photo">
      <img src="../assets/images/things/1.png" alt="" class="thing-card__img">
      <svg class="thing-card__wish" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M29.6653 3.64187C28.0869 1.851 25.8974 0.864746 23.5 0.864746C20.1283 0.864746 17.9936 2.8785 16.7966 4.56787C16.486 5.00625 16.2218 5.44581 16 5.85943C15.7782 5.44581 15.5141 5.00625 15.2034 4.56787C14.0064 2.8785 11.8717 0.864746 8.5 0.864746C6.10262 0.864746 3.91306 1.85106 2.33469 3.64193C0.829188 5.35031 0 7.63831 0 10.0844C0 12.7471 1.03956 15.2237 3.27156 17.8782C5.26638 20.2507 8.13619 22.6962 11.4594 25.528C12.6977 26.5832 13.9782 27.6745 15.3416 28.8673L15.3825 28.9032C15.5592 29.0579 15.7796 29.1352 16 29.1352C16.2204 29.1352 16.4408 29.0579 16.6175 28.9032L16.6584 28.8673C18.0217 27.6745 19.3023 26.5833 20.5408 25.5279C23.8638 22.6962 26.7336 20.2507 28.7284 17.8782C30.9604 15.2236 32 12.7471 32 10.0844C32 7.63831 31.1708 5.35031 29.6653 3.64187ZM19.3246 24.1009C18.2571 25.0105 17.1584 25.9467 16 26.9537C14.8416 25.9468 13.7429 25.0106 12.6753 24.1007C6.17156 18.5587 1.875 14.8974 1.875 10.0844C1.875 8.09506 2.53781 6.24731 3.74137 4.88162C4.95875 3.50043 6.64869 2.73975 8.5 2.73975C11.0706 2.73975 12.7323 4.32337 13.6735 5.65187C14.5178 6.84337 14.9584 8.0445 15.1086 8.50556C15.2343 8.8915 15.5941 9.15268 16 9.15268C16.4059 9.15268 16.7657 8.8915 16.8914 8.50556C17.0416 8.0445 17.4822 6.84337 18.3265 5.65181C19.2677 4.32337 20.9294 2.73975 23.5 2.73975C25.3513 2.73975 27.0413 3.50043 28.2586 4.88162C29.4622 6.24731 30.125 8.09506 30.125 10.0844C30.125 14.8974 25.8284 18.5587 19.3246 24.1009Z" fill="white"/>
      </svg>
    </div>
    <div class="thing-card__price">
      <span class="thing-card__old-price">1800 грн</span><span class="thing-card__new-price">1440 грн</span>
    </div>
    <p class="thing-card__name">
      Linen-blend T-shirt Dress
    </p>
  </div>
</template>

<script>
  export default {
    name: "CatalogCard",
    props: {
      thing: Object,
    }
  }
</script>

<style lang="scss" scoped>
  .thing-card {

    &__wish {
      position: absolute;
      top: 17.86px;
      right: 16px;
    }
    &__photo {
      position: relative;
    }
    &__img {
      width: 100%;
      height: auto;
    }
    &__price {
      margin: 16px 0;
    }
    &__old-price {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      text-decoration-line: line-through;

      color: #7C818D;
    }
    &__new-price {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      padding-left: 8px;

      color: #121212;
    }
    &__name {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;

      color: #121212;
    }
  }
</style>
