<template>
  <footer class="footer">
    <div class="container">
      <div class="row footer__container">
        <svg width="89" height="58" viewBox="0 0 89 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.04 35.84V31.88C11.04 30.92 10.88 30.2533 10.56 29.88C10.2667 29.5067 9.69333 29.32 8.84 29.32H6.8V37.72H8.56C10.2133 37.72 11.04 37.0933 11.04 35.84ZM10.72 23.48V19.92C10.72 19.3867 10.5733 18.9867 10.28 18.72C10.0133 18.4533 9.53333 18.32 8.84 18.32H6.8V25.04H8.6C10.0133 25.04 10.72 24.52 10.72 23.48ZM16.32 32.56V35.96C16.32 38.12 15.7333 39.6667 14.56 40.6C13.3867 41.5333 11.9733 42 10.32 42H1.6V14H9.8C11.5067 14 12.9467 14.44 14.12 15.32C15.32 16.2 15.92 17.4933 15.92 19.2V22.8C15.92 24.0267 15.6933 24.96 15.24 25.6C14.8133 26.2133 14.0933 26.68 13.08 27V27.16C14.1467 27.4533 14.9467 28.0933 15.48 29.08C16.04 30.04 16.32 31.2 16.32 32.56ZM32.0544 42H19.3344V14H24.5344V37.6H32.0544V42ZM49.5716 42H44.4116L43.6116 37.12H38.8516L38.0116 42H33.2516L38.6516 14H44.2916L49.5716 42ZM42.8516 32.72L42.2516 28C41.7182 24 41.4116 21.2267 41.3316 19.68H41.2516C41.1449 21.5733 40.8249 24.3467 40.2916 28L39.6116 32.72H42.8516ZM65.2103 24.36H60.1303V20C60.1303 18.5333 59.4636 17.8 58.1303 17.8C56.9036 17.8 56.2903 18.4267 56.2903 19.68V35.72C56.2903 37.2933 56.9436 38.08 58.2503 38.08C59.077 38.08 59.637 37.92 59.9303 37.6C60.2503 37.28 60.4103 36.7467 60.4103 36V31.04H65.6103V36.28C65.6103 38.2 64.8903 39.72 63.4503 40.84C62.037 41.9333 60.2503 42.48 58.0903 42.48C56.117 42.48 54.4636 41.8933 53.1303 40.72C51.8236 39.5467 51.1703 38.0533 51.1703 36.24V20.16C51.1703 18 51.8503 16.3467 53.2103 15.2C54.5703 14.0533 56.2236 13.48 58.1703 13.48C60.197 13.48 61.877 13.9867 63.2103 15C64.5436 16.0133 65.2103 17.6667 65.2103 19.96V24.36ZM84.2322 42H78.8322L73.9922 29.24H73.7922V42H68.5922V14H73.7922V24.84H73.9922L78.3922 14H83.5922L78.4322 26.92L84.2322 42Z" fill="white"/>
          <path d="M2.07227 1.82715H3.46387L5.52441 7.8916L7.57031 1.82715H8.94727V9H8.02441V4.7666C8.02441 4.62012 8.02767 4.3776 8.03418 4.03906C8.04069 3.70052 8.04395 3.33757 8.04395 2.9502L5.99805 9H5.03613L2.97559 2.9502V3.16992C2.97559 3.3457 2.97884 3.61426 2.98535 3.97559C2.99512 4.33366 3 4.59733 3 4.7666V9H2.07227V1.82715Z" fill="white"/>
          <path d="M5.4834 51.1133C5.93913 51.1133 6.29883 51.0221 6.5625 50.8398C6.82943 50.6576 6.96289 50.3288 6.96289 49.8535C6.96289 49.3424 6.77734 48.9941 6.40625 48.8086C6.20768 48.7109 5.94238 48.6621 5.61035 48.6621H3.2373V51.1133H5.4834ZM2.26562 47.8271H5.58594C6.13281 47.8271 6.58366 47.9069 6.93848 48.0664C7.6123 48.3724 7.94922 48.9372 7.94922 49.7607C7.94922 50.1904 7.8597 50.542 7.68066 50.8154C7.50488 51.0889 7.25749 51.3086 6.93848 51.4746C7.21842 51.5885 7.42839 51.7383 7.56836 51.9238C7.71159 52.1094 7.79134 52.4105 7.80762 52.8271L7.8418 53.7891C7.85156 54.0625 7.87435 54.266 7.91016 54.3994C7.96875 54.6273 8.07292 54.7738 8.22266 54.8389V55H7.03125C6.9987 54.9382 6.97266 54.8584 6.95312 54.7607C6.93359 54.6631 6.91732 54.4743 6.9043 54.1943L6.8457 52.998C6.82292 52.5293 6.64876 52.2152 6.32324 52.0557C6.1377 51.9678 5.84635 51.9238 5.44922 51.9238H3.2373V55H2.26562V47.8271Z" fill="white"/>
          <path d="M82.9658 1.63184C84.2321 1.63184 85.1696 2.03874 85.7783 2.85254C86.2536 3.4873 86.4912 4.29948 86.4912 5.28906C86.4912 6.36003 86.2194 7.25033 85.6758 7.95996C85.0378 8.79329 84.1279 9.20996 82.9463 9.20996C81.8428 9.20996 80.9753 8.84538 80.3438 8.11621C79.7806 7.41309 79.499 6.52441 79.499 5.4502C79.499 4.48014 79.7399 3.65007 80.2217 2.95996C80.8402 2.07454 81.7549 1.63184 82.9658 1.63184ZM83.0635 8.34082C83.9196 8.34082 84.5381 8.03483 84.9189 7.42285C85.3031 6.80762 85.4951 6.10124 85.4951 5.30371C85.4951 4.46061 85.2738 3.7819 84.8311 3.26758C84.3916 2.75326 83.7894 2.49609 83.0244 2.49609C82.2822 2.49609 81.6768 2.75163 81.208 3.2627C80.7393 3.77051 80.5049 4.52083 80.5049 5.51367C80.5049 6.30794 80.7051 6.97852 81.1055 7.52539C81.5091 8.06901 82.1618 8.34082 83.0635 8.34082Z" fill="white"/>
          <path d="M81.0195 47.8271H86.249V48.7061H81.9668V50.8838H85.9268V51.7139H81.9668V54.1455H86.3223V55H81.0195V47.8271Z" fill="white"/>
        </svg>
        <base-navigation :links="this.$store.state.footerLinks"></base-navigation>
      </div>
    </div>
    <div class="container">
      <div class="row footer__container">
        <div class="footer__social">
          <svg class="footer__social-icon" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#7C818D"/>
            <g clip-path="url(#clip0)">
              <path d="M17.5024 13.007C15.0211 13.007 13.0122 15.018 13.0122 17.4972C13.0122 19.9786 15.0232 21.9874 17.5024 21.9874C19.9838 21.9874 21.9926 19.9764 21.9926 17.4972C21.9926 15.0158 19.9816 13.007 17.5024 13.007ZM17.5024 20.4117C15.8917 20.4117 14.5879 19.1072 14.5879 17.4972C14.5879 15.8872 15.8924 14.5827 17.5024 14.5827C19.1124 14.5827 20.4169 15.8872 20.4169 17.4972C20.4176 19.1072 19.1131 20.4117 17.5024 20.4117Z" fill="#7C818D"/>
              <path d="M21.1081 8.80527C19.4981 8.73017 15.5103 8.73382 13.8988 8.80527C12.4828 8.87163 11.2337 9.21361 10.2267 10.2206C8.54381 11.9035 8.75892 14.1712 8.75892 17.4969C8.75892 20.9007 8.56933 23.1159 10.2267 24.7733C11.9162 26.462 14.2167 26.2411 17.5031 26.2411C20.8747 26.2411 22.0385 26.2433 23.2307 25.7817C24.8516 25.1525 26.0752 23.7036 26.1947 21.1012C26.2706 19.4905 26.2662 15.5034 26.1947 13.8919C26.0504 10.82 24.4017 8.95694 21.1081 8.80527ZM23.6565 23.6599C22.5533 24.7631 21.0228 24.6646 17.4819 24.6646C13.8361 24.6646 12.3741 24.7186 11.3074 23.6489C10.0787 22.4261 10.3011 20.4625 10.3011 17.4853C10.3011 13.4566 9.88767 10.5553 13.9309 10.3482C14.8599 10.3154 15.1333 10.3044 17.4717 10.3044L17.5045 10.3263C21.3903 10.3263 24.4389 9.91944 24.6219 13.9619C24.6635 14.8843 24.673 15.1614 24.673 17.4962C24.6722 21.0998 24.7408 22.5705 23.6565 23.6599Z" fill="#7C818D"/>
              <path d="M22.1713 13.8794C22.7508 13.8794 23.2206 13.4096 23.2206 12.8301C23.2206 12.2506 22.7508 11.7809 22.1713 11.7809C21.5918 11.7809 21.1221 12.2506 21.1221 12.8301C21.1221 13.4096 21.5918 13.8794 22.1713 13.8794Z" fill="#7C818D"/>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="17.5" height="17.5" fill="white" transform="translate(8.75 8.75)"/>
              </clipPath>
            </defs>
          </svg>
          <svg class="footer__social-icon" width="36" height="35" style="margin: 0 11.2px" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.6997" cy="17.5" r="17" stroke="#7C818D"/>
            <g clip-path="url(#clip0)">
              <path d="M20.6146 11.6557H22.2122V8.87323C21.9365 8.83531 20.9886 8.75 19.8847 8.75C17.5812 8.75 16.0033 10.1989 16.0033 12.8618V15.3125H13.4614V18.4231H16.0033V26.25H19.1198V18.4239H21.5588L21.946 15.3132H19.119V13.1702C19.1198 12.2711 19.3618 11.6557 20.6146 11.6557Z" fill="#7C818D"/>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="17.5" height="17.5" fill="white" transform="translate(8.9502 8.75)"/>
              </clipPath>
            </defs>
          </svg>
          <svg class="footer__social-icon" width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.9004" cy="17.5" r="17" stroke="#7C818D"/>
            <g clip-path="url(#clip0)">
              <path d="M26.6504 12.0739C25.9996 12.3594 25.3062 12.5486 24.5832 12.6405C25.327 12.1964 25.8946 11.4986 26.1615 10.6575C25.468 11.0709 24.7024 11.363 23.8865 11.5259C23.228 10.8248 22.2896 10.3906 21.2659 10.3906C19.2796 10.3906 17.6805 12.0028 17.6805 13.9792C17.6805 14.2636 17.7046 14.537 17.7637 14.7973C14.781 14.6519 12.1418 13.2223 10.3688 11.0447C10.0593 11.5817 9.87773 12.1964 9.87773 12.8581C9.87773 14.1006 10.5176 15.202 11.4713 15.8397C10.8949 15.8287 10.3295 15.6614 9.85039 15.3978C9.85039 15.4088 9.85039 15.423 9.85039 15.4372C9.85039 17.1806 11.094 18.6287 12.7248 18.9623C12.4327 19.0422 12.1145 19.0805 11.7841 19.0805C11.5545 19.0805 11.3226 19.0673 11.1049 19.0192C11.5698 20.44 12.8888 21.4845 14.4573 21.5184C13.2366 22.4733 11.6868 23.0486 10.009 23.0486C9.71477 23.0486 9.43258 23.0355 9.15039 22.9994C10.7396 24.0242 12.623 24.6094 14.6541 24.6094C21.256 24.6094 24.8654 19.1406 24.8654 14.4003C24.8654 14.2417 24.8599 14.0886 24.8523 13.9366C25.5643 13.4313 26.1626 12.8002 26.6504 12.0739Z" fill="#7C818D"/>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="17.5" height="17.5" fill="white" transform="translate(9.15039 8.75)"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <p class="footer__copy">© 2020 Black.com All rights reserved</p>
      </div>
    </div>
  </footer>
</template>

<script>
  import BaseNavigation from "./BaseComponents/BaseNavigation.vue";
  import BaseIconButton from "./BaseComponents/BaseIconButton.vue";

  export default {
    name: "TheFooter",
    components: {
      BaseNavigation,
      BaseIconButton,
    },
  }
</script>

<style lang="scss" scoped>
  .footer {
    height: 243px;
    padding: 40px 0 30px;
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__social {
      display: flex;
    }
    &__copy {
      display: flex;
      align-items: center;
      margin: 0;
    }
    &__social-icon {
      cursor: pointer;
      &:hover {
        fill: #ffffff;
      }
    }
    &__copy {
      color: #7C818D;
    }
  }
</style>
