<template>
  <header class="header">
    <div class="template__container">
      <div class="header__container">
        <svg class="header__logo" width="125" height="45" viewBox="0 0 125 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.2802 34.6966V28.5517C14.2802 27.0621 14.0381 26.0276 13.554 25.4483C13.1103 24.869 12.243 24.5793 10.9522 24.5793H7.86618V37.6138H10.5286C13.0296 37.6138 14.2802 36.6414 14.2802 34.6966ZM13.7961 15.5172V9.9931C13.7961 9.16552 13.5742 8.54483 13.1305 8.13104C12.7271 7.71724 12.001 7.51035 10.9522 7.51035H7.86618V17.9379H10.5891C12.7271 17.9379 13.7961 17.131 13.7961 15.5172ZM22.2674 29.6069V34.8828C22.2674 38.2345 21.3799 40.6345 19.605 42.0828C17.83 43.531 15.692 44.2552 13.191 44.2552H0V0.806897H12.4044C14.9861 0.806897 17.1644 1.48966 18.9394 2.85517C20.7546 4.22069 21.6623 6.22759 21.6623 8.87586V14.4621C21.6623 16.3655 21.3194 17.8138 20.6336 18.8069C19.9882 19.7586 18.899 20.4828 17.3661 20.9793V21.2276C18.9797 21.6828 20.1899 22.6759 20.9967 24.2069C21.8438 25.6966 22.2674 27.4966 22.2674 29.6069Z" fill="#121212"/>
          <path d="M46.0692 44.2552H26.8273V0.806897H34.6935V37.4276H46.0692V44.2552Z" fill="#121212"/>
          <path d="M72.5679 44.2552H64.7622L63.5521 36.6828H56.3515L55.0808 44.2552H47.8802L56.0489 0.806897H64.5807L72.5679 44.2552ZM62.4024 29.8552L61.4947 22.531C60.688 16.3241 60.2241 12.0207 60.103 9.62069H59.982C59.8207 12.5586 59.3366 16.8621 58.5298 22.531L57.5011 29.8552H62.4024Z" fill="#121212"/>
          <path d="M96.2251 16.8828H88.5404V10.1172C88.5404 7.84138 87.5319 6.70345 85.515 6.70345C83.6594 6.70345 82.7316 7.67586 82.7316 9.62069V34.5103C82.7316 36.9517 83.7199 38.1724 85.6965 38.1724C86.947 38.1724 87.7941 37.9241 88.2379 37.4276C88.722 36.931 88.964 36.1035 88.964 34.9448V27.2483H96.8302V35.3793C96.8302 38.3586 95.741 40.7172 93.5627 42.4552C91.4247 44.1517 88.722 45 85.4545 45C82.4694 45 79.9683 44.0897 77.9513 42.269C75.9747 40.4483 74.9864 38.131 74.9864 35.3172V10.3655C74.9864 7.01379 76.015 4.44828 78.0723 2.66897C80.1297 0.889656 82.6307 0 85.5755 0C88.6413 0 91.1827 0.786208 93.1996 2.35862C95.2166 3.93104 96.2251 6.49655 96.2251 10.0552V16.8828Z" fill="#121212"/>
          <path d="M125 44.2552H116.831L109.51 24.4552H109.207V44.2552H101.341V0.806897H109.207V17.6276H109.51L116.166 0.806897H124.032L116.226 20.8552L125 44.2552Z" fill="#121212"/>
          <path d="M1.51562 2.32715H2.57001L4.13124 7.03233L5.68137 2.32715H6.72466V7.89229H6.02544V4.60776C6.02544 4.49411 6.0279 4.30595 6.03284 4.04329C6.03777 3.78063 6.04023 3.49902 6.04023 3.19848L4.4901 7.89229H3.76128L2.20005 3.19848V3.36896C2.20005 3.50534 2.20252 3.7137 2.20745 3.99404C2.21485 4.27185 2.21855 4.47643 2.21855 4.60776V7.89229H1.51562V2.32715Z" fill="white"/>
          <path d="M3.97125 39.7294C4.31903 39.7294 4.59354 39.6603 4.79475 39.5223C4.99846 39.3843 5.10031 39.1354 5.10031 38.7755C5.10031 38.3885 4.95871 38.1248 4.67551 37.9843C4.52398 37.9104 4.32152 37.8734 4.06813 37.8734H2.25716V39.7294H3.97125ZM1.51562 37.2412H4.0495C4.46684 37.2412 4.8109 37.3016 5.08168 37.4224C5.59591 37.6541 5.85302 38.0817 5.85302 38.7053C5.85302 39.0306 5.7847 39.2968 5.64807 39.5038C5.51393 39.7109 5.32513 39.8772 5.08168 40.0029C5.29532 40.0892 5.45555 40.2026 5.56237 40.3431C5.67167 40.4836 5.73254 40.7116 5.74496 41.027L5.77104 41.7554C5.77849 41.9624 5.79588 42.1164 5.82321 42.2175C5.86793 42.39 5.94742 42.5009 6.06169 42.5502V42.6722H5.15248C5.12764 42.6254 5.10776 42.565 5.09286 42.4911C5.07795 42.4171 5.06553 42.2742 5.05559 42.0622L5.01088 41.1564C4.99349 40.8015 4.86059 40.5637 4.61217 40.4429C4.47057 40.3763 4.24823 40.3431 3.94516 40.3431H2.25716V42.6722H1.51562V37.2412Z" fill="white"/>
          <path d="M118.552 2.32715C119.511 2.32715 120.221 2.64285 120.682 3.27425C121.043 3.76674 121.223 4.39687 121.223 5.16465C121.223 5.99557 121.017 6.68632 120.605 7.2369C120.121 7.88345 119.432 8.20673 118.537 8.20673C117.701 8.20673 117.043 7.92386 116.565 7.35813C116.138 6.8126 115.925 6.12311 115.925 5.28967C115.925 4.53704 116.107 3.89302 116.472 3.35759C116.941 2.67063 117.634 2.32715 118.552 2.32715ZM118.626 7.53239C119.274 7.53239 119.743 7.29499 120.031 6.82018C120.322 6.34284 120.468 5.79479 120.468 5.17602C120.468 4.52189 120.3 3.9953 119.965 3.59626C119.632 3.19722 119.176 2.99769 118.596 2.99769C118.034 2.99769 117.575 3.19595 117.22 3.59247C116.865 3.98646 116.687 4.56861 116.687 5.33892C116.687 5.95516 116.839 6.47543 117.142 6.89973C117.448 7.32151 117.942 7.53239 118.626 7.53239Z" fill="white"/>
          <path d="M117.44 37.2412H121.176V37.9067H118.117V39.5556H120.946V40.1841H118.117V42.0253H121.229V42.6722H117.44V37.2412Z" fill="white"/>
        </svg>
        <div class="header__navigation">
          <base-navigation :links="this.$store.state.headerLinks"></base-navigation>
        </div>
        <div class="header__user-buttons">
          <base-icon-button icon="man"></base-icon-button>
          <base-icon-button icon="heart"></base-icon-button>
          <base-icon-button icon="bag"></base-icon-button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import BaseNavLink from "./BaseComponents/BaseNavLink.vue";
  import BaseIconButton from "./BaseComponents/BaseIconButton.vue";
  import BaseNavigation from "./BaseComponents/BaseNavigation.vue";

  export default {
    name: "TheHeader",
    components: {
      BaseNavLink,
      BaseIconButton,
      BaseNavigation,
    }
  }
</script>

<style lang="scss" scoped>
  .header {
    border-bottom: 1px solid #E7E7E7;

    &__container {
      height: 77px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__user-buttons {
      display: flex;
    }
  }
</style>
