<template>
  <div class="site">
    <the-header></the-header>
    <div class="site__body">
      <nuxt/>
    </div>
    <the-footer></the-footer>
  </div>
</template>

<script>
  import TheHeader from "../components/TheHeader.vue";
  import TheFooter from "../components/TheFooter.vue";
  export default {
    components: {
      TheHeader,
      TheFooter,
    }
  };
</script>

<style lang="scss">
  @font-face {
    font-family: 'Helvetica';
    src: url("../assets/fonts/HelveticaRegular.ttf");
  }

  @font-face {
    font-family: 'Helvetica neue';
    src: url("../assets/fonts/HelveticaNeue.ttf");
  }

  .site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &__body {
      flex-grow: 1;
    }
  }
  .template__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1500px) {
      max-width: 1436px;
    }
  }
</style>
