<template>
  <main class="main catalog">
    <div class="template__container">
      <div class="catalog__filters">
        <div class="filters">
          <select name="lol" id="" class="filters__black">
            <option value="По популярности">По популярности</option>
            <option value="По возростанию цены">По возростанию цены</option>
            <option value="По убыванию цены">По убыванию цены</option>
            <option value="По рейтингу">По рейтингу</option>
          </select>
        </div>
        <a class="filters__reset">Очистить фильтры</a>
      </div>
      <div class="row catalog__things">
        <catalog-card class="col-md-3"></catalog-card>
        <catalog-card class="col-md-3"></catalog-card>
        <catalog-card class="col-md-3"></catalog-card>
        <catalog-card class="col-md-3"></catalog-card>
      </div>
    </div>
  </main>
</template>

<script>
  import CatalogCard from "../components/CatalogCard.vue";

  export default {
    name: "Catalog",
    components: {
      CatalogCard,
    }
  }
</script>

<style lang="scss" scoped>
  .catalog {
    padding: 48px 0 180px;
    &__filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
    }
  }

  .filters {

    &__black {
      font-family: 'Helvetica neue', sans-serif;
      width: 178px;
      height: 36px;
      color: #fff;
      background-color: #000;
      padding: 8px;
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
    &__black::after {
      content: url("../assets/images/arrow-down_black.svg");
      height: 20px;
      width: 20px;
      background-color: red;
    }
    &__reset {
      color: #4193F9;
      font-family: 'Helvetica neue';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
      transition-duration: 0.3s;
    }
  }
</style>
